---
import Layout from "@/layouts/Layout.astro";

---

<Layout title="Master Degree">
  <div class="mt-10 text-center">
    <h1 class="text-4xl">Master's Thesis</h1>
    <ul class="flex flex-col gap-8 justify-center items-center mt-10">
      <li>
        <a
          href="https://www.overleaf.com/project/6482050c1c6ea5c00b3344b4"
          class="bg-green-500 hover:bg-green-700 px-4 py-2 rounded-full text-white"
          target="_blank"
        >
          Master's Thesis - Overleaf
        </a>
      </li>
      <li>
        <a
          href="https://drive.google.com/drive/folders/12XmtEgzXKUfD6ylQFEi4PRTmDYkzd6h7?usp=sharing"
          class="bg-blue-500 hover:bg-blue-700 px-4 py-2 rounded-full text-white"
          target="_blank"
        >
          Folder - Google Drive
        </a>
      </li>
    </ul>
  </div>
</Layout>