---
import Layout from "@/layouts/Layout.astro";
import { PasswordGenerator } from "@/components/tools/password-generator";
import { languages, useTranslations } from "@/hooks/use-translations";

export function getStaticPaths() {
  return languages.map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;
const t = useTranslations(lang);
---

<Layout
  title={t("tools.projects.password_generator.title")}
  description={t("tools.projects.password_generator.description")}
  image="/profile.jpeg"
>
  <section class="bg-background">
    <div class="container px-6 py-8 mx-auto">
      <h1 class="text-3xl font-semibold text-center capitalize lg:text-4xl">
        {t("tools.projects.password_generator.title")}
      </h1>

      <p class="mt-4 text-center text-gray-600 lg:text-lg">
        {t("tools.projects.password_generator.description")}
      </p>

      <div class="my-8 lg:mx-40">
        <PasswordGenerator client:load />
      </div>
    </div>
  </section>
</Layout>
