---
import { ShortenUrl } from "@/components/tools/url-shorten";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { useTranslations } from "@/hooks/use-translations";

const t = useTranslations();
---

<Layout
  title={t("tools.projects.url_shorten.title")}
  description={t("tools.projects.url_shorten.description")}
  image="/profile.jpeg"
>
  <section class="bg-background">
    <div class="container px-6 py-8 mx-auto">
      <div class="flex justify-center mb-4">
        <div
          class="bg-offset flex items-center justify-center rounded-full p-8"
        >
          <Icon name="Link" class="w-12 h-12 text-primary" />
        </div>
      </div>

      <h1 class="text-3xl font-semibold text-center capitalize lg:text-4xl">
        {t("tools.projects.url_shorten.title")}
      </h1>

      <p class="mt-4 text-center text-gray-600 lg:text-lg">
        {t("tools.projects.url_shorten.description")}
      </p>

      <div class="my-8 lg:mx-80">
        <ShortenUrl client:load />
      </div>
    </div>
  </section>
</Layout>
