---
import { changeLangUrl } from "@/utils/change-lang-url";
import { getLangFromUrl } from "@/utils/get-lang-from-url";
import { Icon } from "astro-icon/components";

const currentLang = getLangFromUrl(Astro.url);

const languages = [
  { code: "en", name: "English", icon: "UnitedStates" },
  { code: "pt", name: "Português", icon: "Brazil" },
];

const showCurrentLang = languages.find((l) => l.code === currentLang);
---

<div class="relative inline-block text-left">
  <button
    id="lang-toggle"
    class="flex items-center gap-2 p-2 rounded-lg shadow-md bg-default hover:bg-offset transition"
  >
    <Icon name={showCurrentLang.icon} class="w-6 h-6" />
  </button>

  <ul
    id="lang-menu"
    class="absolute right-0 mt-2 w-30 bg-default rounded-lg shadow-lg overflow-hidden hidden"
  >
    {
      languages.map((lang) => (
        <li>
          <a
            href={changeLangUrl(lang.code, Astro.url)}
            class="flex items-center gap-2 p-2 hover:bg-offset transition"
          >
            <Icon name={lang.icon} class="w-6 h-6" />
            <span class="text-primary">{lang.name}</span>
          </a>
        </li>
      ))
    }
  </ul>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const toggleButton = document.getElementById("lang-toggle");
    const menu = document.getElementById("lang-menu");

    toggleButton.addEventListener("click", (event) => {
      event.stopPropagation();
      menu.classList.toggle("hidden");
    });

    document.addEventListener("click", (event) => {
      if (
        !toggleButton.contains(event.target as Node) &&
        !menu.contains(event.target as Node)
      ) {
        menu.classList.add("hidden");
      }
    });
  });
</script>
