---

import '../styles/index.css';
import BaseLayout from './BaseLayout.astro';

interface Props {
	title: string;
	description: string;
	image: string;
};

const { title, description, image } = Astro.props;
---

<BaseLayout
	title={title}
	description={description}
	image={image}
>
	<div class="h-full overflow-x-hidden bg-default
		text-default text-base selection:bg-secondary">
		<section class="flex-grow">
			<slot />
		</section>
	</div>
</BaseLayout>
