---
import BaseLayout from './BaseLayout.astro';
import Header from '@/components/sections/Header.astro';
import Footer from '@/components/sections/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
	<div class="h-full flex flex-col overflow-x-hidden bg-default
		text-default text-base selection:bg-secondary">
		<Header />
		<section class="flex-grow">
			<slot />
		</section>
		<Footer />
	</div>
</BaseLayout>
